In [11]:
# csv file testing:
import pandas as pd
from pathlib import Path
def load_csv(filepath:str, delimiter:str):
    filepath = Path(filepath)
    return pd.read_csv(filepath, delimiter=delimiter)

df1 = load_csv("D:/04. Machine Learning/01. Supervised Learning/1. Linear Regression/auto-mpg.csv", ',')
df1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [13]:
# excel sheet testing:
import pandas as pd
from pathlib import Path
def load_excelsheet(filepath:str, sheet_name:str):
    filepath = Path(filepath)
    return pd.read_excel(filepath, sheet_name=sheet_name)

df2 = load_excelsheet("D:/10. Projects/Retail-Sales-Analysis/Data/Dimensions/Geography.xlsx", 'Geography')
df2

          Country        Town                                 Wikipedia
0  Czech republic      Prague      https://en.wikipedia.org/wiki/Prague
1         Denmark  Copenhagen  https://en.wikipedia.org/wiki/Copenhagen
2         Germany   Frankfurt   https://en.wikipedia.org/wiki/Frankfurt
3         Germany      Berlin      https://en.wikipedia.org/wiki/Berlin
4         Germany     Dresden     https://en.wikipedia.org/wiki/Dresden
5  Czech republic        Brno        https://en.wikipedia.org/wiki/Brno
6  Czech republic     Ostrava     https://en.wikipedia.org/wiki/Ostrava