## Source code experiment

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# csv file testing:
import pandas as pd
from pathlib import Path
def load_csv(filepath:str, delimiter:str):
    filepath = Path(filepath)
    return pd.read_csv(filepath, delimiter=delimiter)

df1 = load_csv('sample.csv', ',')
df1

  Animals      Type
0   Tiger      Wild
1    Lion      Wild
2     Cow  Domestic
3     Dog  Domestic

In [3]:
# excel sheet testing:
import pandas as pd
from pathlib import Path
def load_excelsheet(filepath:str, sheet_name:str):
    filepath = Path(filepath)
    return pd.read_excel(filepath, sheet_name=sheet_name)

df2 = load_excelsheet('sample.xlsx', 'sample_sheet')
df2

  Animals      Type
0   Tiger      Wild
1    Lion      Wild
2     Cow  Domestic
3     Dog  Domestic

In [4]:
# google sheet testing:
import pandas as pd
def load_gsheet(gsheet_id:str, sheet_name:str):
    base_url = 'https://docs.google.com/spreadsheets/d'
    sheet_csv = 'gviz/tq?tqx=out:csv&sheet='
    url = f'{base_url}/{gsheet_id}/{sheet_csv}{sheet_name}'
    return pd.read_csv(url)

df3 = load_gsheet('17r9f4BL7sjmdLBnt92OdQP3CHK5bdT3hozg6DUJXGqU', 'sample_sheet')
df3

  Animals      Type
0   Tiger      Wild
1    Lion      Wild
2     Cow  Domestic
3     Dog  Domestic

In [5]:
# mysql testing:
import pandas as pd
from pymysql import connect
def load_mysqldata(host:str, user:str, password:str, database:str, table:str):
    db = connect(host=host, user=user, passwd=password, database=database)
    cur = db.cursor()
    query = f'select * from {table}'
    return pd.read_sql(query, db)


with open('mysql_password.txt', 'r') as f:
    password = f.read()
f.close()
df4 = load_mysqldata('localhost', 'root', password, 'sample_database', 'sample_table')
df4

   Animals      Type
0  Animals      Type
1    Tiger      Wild
2     Lion      Wild
3      Cow  Domestic
4      Dog  Domestic

In [6]:
# load mongodb data:
import pandas as pd
from pymongo.mongo_client import MongoClient
def load_mongodbdata(host:str, database:str, collection:str):
    client = MongoClient(host)
    db = client[database]
    col = db[collection]
    records = col.find()
    data = list(records)
    df = pd.DataFrame(data)
    df.drop('_id', axis=1, inplace=True)
    return df

df5 = load_mongodbdata('localhost', 'sample_database', 'sample_collection')
df5

  Animals      Type
0   Tiger      Wild
1    Lion      Wild
2     Cow  Domestic
3     Dog  Domestic